#{extends 'main.html' /}
#{set title:'Home' /}

<p>Кількість меду в генераторі меду: <b>${stats.honeyInGeneratorAmount}</b></p>
<p>Кількість користувачів: <b>${stats.numberOfUsers}</b></p>
<p>Кількість торів: <b>${stats.numberOfTors}</b></p>
<div align="center">
#{form @submit()}
    <label for="username" class="control-label">Ім'я користувача</label>
    <br/>
    <br/>
    #{field 'login'}
        <input class="form-control" type="text" name="login" id="username" required>
        <span class="error">${field?.error}</span>
    #{/field}

    <br/>
    <br/>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-success">
    </div>
#{/form}
</div>