#{extends 'main.html' /}
#{set title:'User' /}

<h1 align="center">${login}</h1>

<table align="center" style="width: 40%; margin-left: 35%; margin-right: 20%">
    <tr>
        <td><p>Екомісія</p></td>
        <td><p><b>${ecoMission}</b></p></td>
        <td>
            #{if ecoMission}
                <a href="@{Application.setEcoMission(login, false)}"><button>Скасувати екомісію</button></a>
            #{/if}
            #{else}
                <a href="@{Application.setEcoMission(login, true)}"><button>Підтвердити екомісію</button></a>
            #{/else}
        </td>
    </tr>

    <tr>
        <td><p>Категорія</p></td>
        <td><p><b>${category}</b></p></td>
        <td>
        #{if category}
            <a href="@{Application.setCategory(login, false)}"><button>Скасувати категорію</button></a>
        #{/if}
        #{else}
            <a href="@{Application.setCategory(login, true)}"><button>Підтвердити категорію</button></a>
        #{/else}
        </td>
    </tr>

    <tr>
        <td><p>Підтримка</p></td>
        <td><p><b>${problem}</b></p></td>
        <td>
        #{if problem}
            <a href="@{Application.setProblem(login, false)}"><button>Скасувати підтримку</button></a>
        #{/if}
        #{else}
            <a href="@{Application.setProblem(login, true)}"><button>Підтвердити підтримку</button></a>
        #{/else}
        </td>
    </tr>

    <tr>
        <td><p>Вакансії</p></td>
        <td><p><b>${job}</b></p></td>
        <td>
        #{if job}
            <a href="@{Application.setJob(login, false)}"><button>Скасувати вакансії</button></a>
        #{/if}
        #{else}
            <a href="@{Application.setJob(login, true)}"><button>Підтвердити вакансії</button></a>
        #{/else}
        </td>
    </tr>
</table>