#{extends 'main.html' /}
#{set title:'User' /}

<h2 class="text-center thin">Привіт, ${login}</h2>

<div class="row margin-top-max">
    <div class="col-md-offset-3 col-md-6">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Статус</th>
                <th class="text-center">Опції</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Екомісія</td>
                    <td class="bold">${ecoMission}</td>
                    <td class="text-center">
                        #{if ecoMission}
                        <a href="@{Application.setEcoMission(login, false)}" class="btn btn-danger">Скасувати екомісію</a>
                        #{/if}
                        #{else}
                        <a href="@{Application.setEcoMission(login, true)}" class="btn btn-success">Підтвердити екомісію</a>
                        #{/else}
                    </td>
                </tr>

                <tr>
                    <td>Категорія</td>
                    <td class="bold">${category}</td>
                    <td class="text-center">
                        #{if category}
                        <a href="@{Application.setCategory(login, false)}" class="btn btn-danger">Скасувати категорію</a>
                        #{/if}
                        #{else}
                        <a href="@{Application.setCategory(login, true)}" class="btn btn-success">Підтвердити категорію</a>
                        #{/else}
                    </td>
                </tr>

                <tr>
                    <td>Підтримка</td>
                    <td class="bold">${problem}</td>
                    <td class="text-center">
                        #{if problem}
                        <a href="@{Application.setProblem(login, false)}" class="btn btn-danger">Скасувати підтримку</a>
                        #{/if}
                        #{else}
                        <a href="@{Application.setProblem(login, true)}" class="btn btn-success">Підтвердити підтримку</a>
                        #{/else}
                    </td>
                </tr>

                <tr>
                    <td>Вакансії</td>
                    <td class="bold">${job}</td>
                    <td class="text-center">
                        #{if job}
                        <a href="@{Application.setJob(login, false)}" class="btn btn-danger">Скасувати вакансії</a>
                        #{/if}
                        #{else}
                        <a href="@{Application.setJob(login, true)}" class="btn btn-success">Підтвердити вакансії</a>
                        #{/else}
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
